server:
  port: 8888

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: doctor-service
          uri: lb://DOCTOR-SERVICE
          predicates:
            - Path=/doctors/**

        - id: patient-service
          uri: lb://PATIENT-SERVICE
          predicates:
            - Path=/patients/**

        - id: prescription-service
          uri: lb://PRESCRIPTION-SERVICE
          predicates:
            - Path=/prescriptions/**

        - id: appointment-service
          uri: lb://APPOINTMENT-SERVICE
          predicates:
            - Path=/appointments/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
