spring:
  datasource:
    url: jdbc:mysql://patient-mysql:3306/patient_db?useSSL=false&serverTimezone=UTC
    username: user
    password: pass123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

server:
  port: 8085
  servlet:
    context-path: /

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
