apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.eurekaServer.replicas }}
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
      - name: eureka-server
        image: "{{ .Values.dockerNamespace }}/eureka-server:{{ .Values.imageTag }}"
        ports:
        - containerPort: 8761
        resources:
          requests:
            memory: "{{ .Values.eurekaServer.resources.requests.memory }}"
            cpu: "{{ .Values.eurekaServer.resources.requests.cpu }}"
          limits:
            memory: "{{ .Values.eurekaServer.resources.limits.memory }}"
            cpu: "{{ .Values.eurekaServer.resources.limits.cpu }}"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8761
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8761
          initialDelaySeconds: 30
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: eureka-server
  ports:
  - port: 8761
    targetPort: 8761
  type: ClusterIP
